@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');


/**Button*/
.CTA {
  align-items: center;
  white-space: nowrap;
  background-color: #f78431;
  border-radius: 54px;
  display: inline-flex;
  gap: 10px;
  height: 37px;
  width: auto;
  outline: none;
  border: none;
  color: #fff;
  font-weight: 500;
  padding: 16px 32px;
  position: relative;
  cursor: pointer;
  }
  
  .CTA:hover {
    background-color: #e06025; 
  }
  








