.improved-message {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 16.91px;
    justify-content: center;
    padding: 8.46px;
    position: relative;
    width: 1697px;
}

.improved-message .tell-us-what-can-be {
    color: #5c6670;
    font-family: "Inter-ExtraBold", Helvetica;
    font-size: 62.2px;
    font-weight: 800;
    letter-spacing: 0;
    line-height: 93.3px;
    margin-top: -0.85px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}
