body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {    
    margin: 0 auto;
    padding: 20px;
    justify-content: center;
}

.form {
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form h4 {
    color: #a95b1f;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
}

.form p, h5 {
    color: #a95b1f;    
    font-size: 14px;
   
}

.form .avatar {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.form img {
    width: 100px;
    height: 100px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
}

.form .logo-upload {
    display: none;
    
}

.form label[for="logoInput"] {
    cursor: pointer;
    
}

.form input[type="file"] {
    display: none;
}

.form hr {
    margin: -10px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #ddd;
}

.form .text-input{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    color: #35393cff;
}

.form .text-input label {
    flex: 1;
    font-size: 14px;
    color: #35393cff;
    padding: 40px 40px;
    
}

.form .text-input input[type="text"],
.form .text-input input[type="email"],
.form .text-input input[type="tel"],
.form .text-input input[type="physicalAddress"] {
    flex: 2;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 8px;
}

.form .text-input select {
    flex: 2;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 8px;
}

.form .description-input textarea {
    width: 60%;
    display: flex;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 8px;       
    align-items: center;
    margin-bottom: 20px;
    color: #35393cff;
}
@media (max-width: 768px) {
    .form .description-input textarea {     
      margin-left: 40px; 
    }
  }
.description-input {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .description-input label {
    width: 30%; 
    text-align: right;    
    color: #35393cff;
  }
  
  .description-input textarea {
    width: 70%; 
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 8px;
    color: #35393cff;
  }
  
.form .file-input input[type="file"] {
    display: none;
    
}
.file-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  
.form .file-input label[for="fileInput"] {
    cursor: pointer;
    display: inline-block;
    padding: 8px 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #ffffff;
}

.form .file-input label[for="fileInput"] button {
    background-color: #f78431;
    color: #fff;
    border: none;
    padding: 0;
    cursor: pointer;
}

.form .date-picker {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.form .date-picker label {
    flex: 1;
    font-size: 14px;
}

.form .date-picker input[type="date"] {
    flex: 2;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 8px;
}

.form button {
    background-color: #f78431;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}

