.testimonial-images {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    width: 400px;
    height: auto;
}

.testimonial-images .frame {
    flex: 1;
    flex-grow: 1;
    height: 60px;
    position: relative;
}

.testimonial-images .image {
    height: 60px;
    left: -5px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 60px;
}

/* Media query for screens smaller than 768px */
@media (max-width: 768px) {
    .testimonial-images .image {
        height: auto; 
        width: 100%;        
    }
}

