/**Masthead*/

.masthead {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 8.57px;
    justify-content: center;
    padding: 8.57px;
    position: relative;
    margin-top: 25px;
  }
  
  .masthead .empowering {
    color: #a95b1f;
    font-family: "Poppins-Bold", Helvetica;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -0.86px;
    position: relative;
    
  }
  
  .masthead .line {
    justify-items: center;
    height: 2.57px;
    min-width: 300px;
    position: relative;
    background-color: #a95b1f; 
  }
  @media (max-width: 767px) {
    .masthead .line {    
      min-width: 100px;
      
  }
  }
  /* Media query for tablets */
  @media (max-width: 767px) {
    .masthead .empowering {
      font-size: 24px; 
    }
  }
  
  /* Media query for mobile */
  @media (max-width: 480px) {
    .masthead .empowering {
      font-size: 18px; 
    }
  }
  



